<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
          
<hibernate-configuration>
	<session-factory>
	  <property name="hbm2ddl.auto">update</property>
	 	<property name="connection.driver_class"> oracle.jdbc.driver.OracleDriver</property>
	 	<property name="connection.url">jdbc:oracle:thin:@172.25.192.71:1521:javadb</property>
	 	<property name="connection.username">H94ORAUSER5D</property>
	 	<property name="connection.password">tcshyd</property>
		<property name="connection.dialect">org.hibernate.dialect.Oracle10Dialect</property>
		<property name="show_sql">true</property>
		
		<mapping resource="Student.hbm.xml"/>
		
	</session-factory>

</hibernate-configuration>
